aiohttp
aiosignal
annotated-types
anyio
appdirs
async-timeout
asyncmy
asyncpg
attrs
beautifulsoup4
certifi
charset-normalizer
click
contourpy
cycler
dataclasses-json
distro
exceptiongroup
fastapi
fonttools
frozenlist
greenlet
h11
httpcore
httpx
idna
importlib-resources
isodate
joblib
jsonpatch
jsonpointer
kiwisolver
langchain
langchain-community
langchain-core
langchain-experimental
langdetect
langsmith
libretranslatepy
lxml
marshmallow
matplotlib
multidict
mypy-extensions
nltk
numpy
openai
packaging
pandas
Pillow
protobuf
pydantic
pydantic-settings
pydantic_core
pyodbc
pyparsing
python-dateutil
python-dotenv
pytz
PyYAML
regex
requests
scikit-learn
scipy
six
sniffio
soupsieve
SQLAlchemy
starlette
tabulate
tenacity
threadpoolctl
tqdm
translate
typing-inspect
typing_extensions
tzdata
urllib3
uvicorn
yarl
zipp
ipython
faiss-cpu
tiktoken
python-multipart
plotly
kaleido
Jinja2
redis
openpyxl
scrapegraphai
playwright